{% extends 'base.html' %}

{% block title %} Фильтр по дате {% endblock %}

{% block body %}
    <h1>Посты</h1>
    <form method="GET" action="{% url  'posts:date_filter'%}">
        <label>Фильтрация по дате</label>
        <input type="date" name="start_date" id="start_date">
        <button type="submit">Подтвердить</button>
    </form>

{% if date %}
    {% if filter_type == 'gte' %}
    <p>Посты начиная с {{date}}</p>
    {% endif %}

    {% if filter_type == 'lte' %}
    <p>Посты до {{date}}</p>
    {% endif %}

    <ul>
              {% for post in posts %}
                <li> <a href="{% url 'posts:postid' post.id %}"> {{post}} </a> </li>
              {% endfor %}
    </ul>
{%endif%}
{% endblock %}